.profileContent{
    display:flex;
    flex-direction:row;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
}
.profileContainer{
    flex: 1;
    display:flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    background-color : var(--tercery-background-color);
    transform: translateY(0);
    transition: all 300ms ease;
}
.profileContainer[data-container-info="true"]:hover{
    justify-content: space-around;
    transform: translateY(-10px);
    box-shadow: 0px 5px 10px 0px var(--secondary-background-color);
    color: var(--secondary-color);
}
.profileContainer[data-container-options="true"]{
    justify-content: flex-start;
}
.profileSubContainer{
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    transition: all 500ms ease;
}
.profileSubContainer[data-info="true"]{
    background-color : var(--secondary-background-color);
    text-align: left;
}
.profileSubContainer[data-options="true"]{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-background-color);
    transition: all 500ms ease;
    text-align: left;
}
.profileContainer[data-options="true"]>:first-child{ flex:1; }
.optionTitle{text-align: left;}
.optionContent{
    color : var(--secondary-background-color);
    font-weight: 300;
}
@media (max-width : 480px){
    .profileContent{
        flex-direction: column;
    }
}