
/* GENERALS STYLES */
.alert__{
    font-style: italic;
    font-size: 0.9rem;
    color : var(--alert-color);
}
button[data-primary="true"]:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-color :var(--primary-color);
    border-radius: 5px;
}
button[data-secondary="true"]:hover{
    background-color : var(--secondary-background-color);
    color : var(--secondary-color);
    border-color: var(--secondary-color);
    border-radius: 5px;
    transition: all 150ms ease-out;
    transform: translateY(0);
}
button[data-icon="true"]:hover{
    transform: translateY(-3px);
    box-shadow: -10px 20px 20px  10px var(--secondary-color);
}
.section__{
    background-color: var(--tercery-background-color);
    padding: 20px;
    margin: 30px 0px 30px 0px;
}


/* 
Responsive tablets
@media (max-width: 1024px){

}

Responsive tablets pequeñas
 @media (max-width: 768px){

}
 
Responsive telefonos
@media (max-width: 480px){
    
}  */